@model IEnumerable<MetaFinanceira>

<h1>Página do Buscar</h1>

@foreach (var metafinanceira in Model)
{
    <ul>
        <li>@metafinanceira.Id</li>
        <li>@metafinanceira.Titulo</li>
        <li>@metafinanceira.Descricao</li>
        <li>@metafinanceira.ValorMeta</li>
        <li><button type="button" class="btn btn-danger" onclick="aluno.fnMostrarViewExcluir(@metafinanceira.Id)">Excluir</button></li>
        <li><button type="button" class="btn btn-danger" onclick="aluno.fnMostrarViewEditar(@metafinanceira.Id)">Editar</button></li>
        <li><button type="button" class="btn btn-danger" onclick="aluno.fnEsconderViews()">Voltar</button></li>
    </ul>
}
