@* @model MetaFinanceira

<div class="contanier p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4 class="text-white-65">Minhas Metas</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MetaFinanceira" asp-action="MostrarViewCadastrar" class="btn btn-info">Criar nova meta</a>
        </div>
    </div>
</div>

<tr>
    <div class="card border-secondary mb-3">
    <div class="card-body border-top border-info">
        <h4 class="card-title border-secondary "><td>@Model.Titulo</td></h4>
        <p class="card-text text-light"><td>@Model.Descricao</td></p>
        <h6 class="card-title text-white mb-1">
            <td>R$ @Model.ValorMeta
                <div class="d-flex justify-content-end mb-0" role="group">
                    <a asp-controller="MetaFinanceira" asp-action="" asp-route-id="" class="btn btn-outline-primary mx-1"> <i class="bi bi-pencil-square"></i>Detalhes</a>
                    <a asp-controller="MetaFinanceira" asp-action="MostrarViewEditar" asp-route-id="@Model.Id" class="btn btn-outline-warning mx-1"> <i class="bi bi-trash-fill"></i>Editar</a>
                    <a asp-controller="MetaFinanceira" asp-action="MostrarViewExcluir" asp-route-id="@Model.Id" class="btn btn-outline-danger mx-1"> <i class="bi bi-trash-fill"></i>Deletar</a>
                </div>
            </td>
        </h6>
    </div>
    </div>
</tr> *@