@model IEnumerable<MetaFinanceira>

<div class="contanier p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4 class="text-white-65">Minhas Metas</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MetaFinanceira" asp-action="MostrarViewCadastrar" class="btn btn-secondary">Criar nova meta</a>
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr class="table-secondary">
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor Meta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var metafinanceira in Model)
            {
                <tr>
                    <td>@metafinanceira.Titulo</td>
                    <td>@metafinanceira.Descricao</td>
                    <td>@metafinanceira.ValorMeta</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Não há dados para exibir.</td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/Pages/metafinanceira.js" asp-append-version="true"></script>
<script>
    metafinanceira.init({
        urls: {
            index: '@Url.Action("Index", "Metafinanceira")'
            @* buscar: '@Url.Action("BuscarMetaFinanceira", "MetaFinanceira")' *@
        }
    });
</script>
